/* @font-face {
    font-family: 'CustomFont';
    src: url('../../Downloads/Single_Day/SingleDay-Regular.ttf') format('truetype');
} */

.guide-to-cart {
    font-weight: bold;
    text-align: center;
    margin: 20px 5px;
    font-size: 16px;
    color: blue;
}
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    /* font-family: 'CustomFont', sans-serif; */
}

.menu-item {
    margin-bottom: 20px;
    font-family: monospace;
    /* font-family: 'CustomFont', sans-serif; */
}

.menu-image {
    width: auto;
    height: 150px;
}

.menu-text h3, .menu-text p {
    text-align: center;
    margin: 5px 0;
    font-family: monospace;
    /* font-family: 'CustomFont', sans-serif; */
}

.language-buttons button {
    padding: 12px 24px;
    font-size: 20px;
    margin: 10px 10px;
    /* background-color: #007bff; */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: monospace;
    /* font-family: 'CustomFont', sans-serif; */
}

.language-buttons button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }

/* .language-buttons button:hover {
    background-color: #0056b3;
} */
.section-button {
    appearance: none;
    background-color: rgba(51, 51, 51, 0.05);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin: 2px;
}

.section-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

  

.warning-box {
    background-color: #fff4e5;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 5px;
    color: #333;
}
.logo-image {
    width: 150px;
}
.menu-item-price {
    font-weight: bold;
    color: #007bff;
}

.review-promotion {
    font-weight: bold;
    text-align: center;
    margin: 20px 5px;
    font-size: 16px;
    color: darkorange;
    
}

.cart-notification {
    margin-left: 10px;
    color: green;
    font-weight: bold;
}

.add-to-cart-button {
    
    color: white; /* Use 'color', not 'font-color' */
    padding: 5px 10px; /* Example padding */
    font-size: 13px; /* Example font size */
    background-color: brown; /* Example background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.custom-select {
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    padding: 3px; /* Spacing inside the dropdown */
    margin-top: 5px; /* Space above the dropdown */
    margin-bottom: 5px;
    font-size: 14px; /* Text size */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to indicate it's clickable */
  }
  
  .custom-select:hover,
  .custom-select:focus {
    border-color: #007bff; /* Highlight color when hovered or focused */
    outline: none; /* Remove default focus outline */
  }
  