.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-image {
    width: 100px;
    height: auto;
}

.menu-text h3, .menu-text p {
    text-align: center;
    margin: 5px 0;
}

